# Reduzir verbosidade dos logs
loglevel=error

# Evitar mensagens de atualização e financiamento
fund=false
update-notifier=false

# Configurações para melhorar a instalação
prefer-offline=true
cache-min=3600
progress=false
audit=false

# Usar versões exatas para dependências
save-exact=true 